<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Indica que es una app para reloj -->
    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Evitar que Android filtre relojes por features implícitas -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.screen.portrait" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Simple Padel Score"
        android:supportsRtl="true">

        <!-- App standalone (no requiere teléfono) -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="com.gonzalocamera.padelcounter.presentation.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>